<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Aplikácia pre rečovú audiometriu </title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>

        <header><h1>Aplikácia pre rečovú audiometriu</h1></header>

        <p id="action-message">Hru ukončíte zatvorením okna webového prehliadača.</p>

        <p id="action-message2">Kliknutím na robota spustíte hru.</p>

        <div class="nextbutton">
            <div class="nextbutton2" id="nextbutton3">
                <a href="#" id="vyberkola" onclick="document.location=this.id+'.html';return false;" >
                    <img src="images/default.gif" alt="nextbutton3" width="400" height="500" class="nextbutton" />
                </a>
            </div>
        </div>
        <p id="action-message2">Autor: Bc.Lukáš Hudák (Diplomová práca)</p>
        <p id="action-message2">Kopírovanie a šírenie hry bez vedomia autora je zakázané!</p>

    </body>
</html>
