<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Aplikácia pre rečovú audiometriu </title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header><h1>Aplikácia pre rečovú audiometriu (2.kolo)</h1></header>

        <div id="progressbar4">
            <div></div>
        </div>

        <div class="score-board">
            <div id="correct-label" class="badge">správne</div>
            <div id="wrong-label" class="badge2">nesprávne</div>
            <span id="correct-score">0</span>:<span id="wrong-score">0</span>
        </div>

        <button class='play-btn' id="playbtn" href="#" onclick="clickcounter();"></button> 

        <div class="choices">
            <div class="choice" id="auto_auticko">
                <a href="#" id="index10" onclick="document.location=this.id+'.html';return false; " >
                    <img src="images/2_auto_auticko.jpg" alt="" width="300" height="400">
                </a>
            </div>
            <div class="choice" id="zajac_zajacik">
                <a href="#" id="index10" onclick="document.location=this.id+'.html';return false; " >
                    <img src="images/15_zajac_zajacik.jpg" alt="" width="300" height="400">
                </a>
            </div>
            <div class="choice" id="dom_domcek">
                <a href="#" id="index10" onclick="document.location=this.id+'.html';return false; " >
                    <img src="images/33_dom_domcek.jpg" alt="" width="300" height="400">
                </a>
            </div>
           
        </div>
        
        <div id="outer">
            
                <div class="inner" id="inner1">
                        <a href="#" id="index8" onclick="document.location=this.id+'.html';return false; " >
                            <img src="images/back.png" alt="" width="100" height="100">
                        </a>            
                </div>
    
                <div class="inner" id="inner2">
                        <a href="#" id="index" onclick="confirmation(); " >
                            <img src="images/home.png" alt="" width="100" height="100">
                        </a>
                </div>
    
            </div>

        <p id="action-message">Nápoveda: Stlačte tlačidlo prehrávania zvuku a kliknutím vyberte obrázok prislúchajúci ku prehranému zvuku.</p>        
        
        <script src="app9.js" charset="utf-8"></script>

    </body>
</html>