<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Aplikácia pre rečovú audiometriu </title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>


        <header><h1>Úvodná inštruktáž (Ľavé ucho)</h1></header>

        <p id="action-message">Pre uskutočnenie merania budete potrebovať slúchadlá!<br />
            <br /> </p>


        <button class='play-btn' id="playbtn" href="#"></button>

       <!------ <button type="button2" class="button2" value="Pokračovať" onclick="location.href = 'login.html'" >Pokračovať</button> -->

        <div id="outer">

            <div class="inner" id="inner1">
                    <a href="#" id="vyberucha" onclick="document.location=this.id+'.html';return false; " >
                        <img src="images/back.png" alt="" width="100" height="100">
                    </a>
            </div>

            <div class="inner">
                <a href="#" id="index" onclick="confirmation(); " >
                    <img src="images/home.png" alt="" width="100" height="100">
                </a>
            </div>

            <div class="inner">
                <a href="#" id="pribeh_lave_ucho" onclick="document.location=this.id+'.html';return false; " >
                    <img src="images/forward.png" alt="" width="100" height="100">
                </a>
            </div>

        </div>



        <script src="manual_lave_ucho.js" charset="utf-8"></script>


    </body>
</html>
