*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
  width: 100%;
  display: block;
  margin: 0px auto;
	border: 5px solid #000000;
  padding: 50px;
  font-size: 30px;
  font-weight: 1000;
  font-family: 'Times New Roman';
	background-position: bottom right;
}


.button {
  padding: 30px 100px;
  font-size: 40px;
  display: block;/*centrovanie tlacidla 1.riadok*/
  margin: auto;/*centrovanie tlacidla 2.riadok*/
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button2 {
  padding: 25px 25px;
  font-size: 40px;
  display: block;/*centrovanie tlacidla 1.riadok*/
  margin: auto;/*centrovanie tlacidla 2.riadok*/
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}



.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 40px;
  display: block;
  margin: 20px auto;
  border-radius: 100px;
  border-color: black;
  opacity: 0.85;
  font-size: 50px;
  font-weight: 1000;
  line-height: 30px;
  text-decoration: none; /* remove underline from anchors */
}

/* style the submit button */
input[type=submit] {
  background-color: rgb(5, 20, 231);
  color: white;
  cursor: pointer;
}

/* Two-column layout */
.col {
  float: center;
  width: 70%;
  margin: auto;
  padding: 0 50px;
  margin-top: 40px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

body {   
    background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    color: #4CAF50;
}

header >h1 {
    color: black; 
    font-size: 60px;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}


.score-board {
    margin: 10px auto;
    border: 5px solid black;
    border-radius: 20px; 
    text-align: center;
    width: 400px;
    color: black;
    font-size: 70px;
    padding: 5px 20px;
    font-family: Impact, Charcoal, sans-serif;
    position: relative;
}

.badge {
    background:rgb(0, 255, 0);
    color: black;
    font-size: 30px;
    padding: 2px 10px;
    font-family: Impact, Charcoal, sans-serif; 
}
.badge2 {
    background:rgb(255, 0, 0);
    color: black;
    font-size: 30px;
    padding: 2px 10px;
    font-family: Impact, Charcoal, sans-serif; 
}

#correct-label {
    position: absolute;
    padding: 2px 10px;
    border-radius: 20px; 

    top: 3;
    left: 0;
}

#wrong-label {
    position: absolute;
    padding: 2px 2px;
    border-radius: 20px; 
    top: 1;
    right: 0;
}

.result {
    font-size: 40px;
    color: black;
}

.result > p {
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

.choices {
    margin: 20px 0;
    text-align: center;
}

.choice {
    border: 4px solid black;
    border-radius: 10px; 

    margin: 0 15px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease;    
}

.choice:hover {
    cursor: pointer;
    background: red;
}

.playbutton {
    margin: 50px 0;
    text-align: center;
}

.playbutton2 {
    margin: 0 15px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease; 
}

.home-btn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  
}

#outer
{
    width:100%;
    text-align: center;
    margin-left: -100px

    
}
.inner
{
    display: inline-block;
    margin-left: 200px

}

.playbutton:hover {
    cursor: pointer;
}

.play-btn {
  
  width: 200px;
  height: 200px;
  background: radial-gradient( rgba(0, 12, 184, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 20px auto;
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.8);
  
}
button:focus {outline:0;}

/* triangle */
.play-btn::after {
  
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -30%;
  left: -30%;
  background: rgba(0,0,255,0.3);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

.nextbutton {
    margin: 50px 0;
    text-align: center;
}

.nextbutton2 {
    margin: 0 15px;
    padding: 10px;
    display: inline-table;
    transition: all 0.3s ease;    
}

.nextbutton:hover {
    cursor: pointer;
}

#action-message2 {
    text-align: center;
    color: black;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
}
#action-message {
    text-align: center;
    color: black;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
}

#progressbar {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar>div {
  background-color: orange;
  width: 20%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}

#progressbar2 {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar2>div {
  background-color: orange;
  width: 40%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}

#progressbar3 {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar3>div {
  background-color: orange;
  width: 60%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}

#progressbar4 {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar4>div {
  background-color: orange;
  width: 80%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}

#progressbar5 {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar5>div {
  background-color: orange;
  width: 100%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}

