doctype html
head
  meta(charset='utf-8')
  title Formul&aacute;r
  link(rel='stylesheet' href='styles.css')
header
  h1 Vypl&ncaron;te nasleduj&uacute;ce &uacute;daje:
.container
  form (action = "/", method = "POST")
    // presmerovanie na index
    .row
      .vl
      .col
        input(type='text' name='username' placeholder='Meno používateľa' required='')
        input(type='number' name='age' placeholder='Vek' required='')
        input(type='text' name='sex' placeholder='Pohlavie' required='')
        input(type='text' name='test' placeholder='Typ testu' required='')
        input(type='number' name='score' placeholder='Výsledné skóre' required='')

        button(type = "submit") Send my greetings
